.App {
  text-align: center;
}
.current{
  display: flex;
  flex-direction: column;
  border: 1px;
  border-style: ridge;
  border-color: black;


}
.currentConditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: auto;
  border: 1px;
  border-style: ridge;
  border-color: black;
}
.currentInfo {
display: flex;
flex-direction: column;
padding: 2%;
border: 1px;
border-style: ridge;
border-color: black;
width: 33%;
align-items: center;
justify-content:space-evenly

}
.cards {
  display: flex;
  justify-content: center;
  width: 80vw;
}
#conditions img{
  min-height: 50%;
}